*{
  margin: 0;
  padding: 0;
    font-family: 'poppins', sans-serif;
  }
  body{
    background: rgb(21, 20, 20);
    color: white;
}
.header{
 width: auto;
 height: 700px;
 background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(/assets/top.jpg);
 background-size: cover;
 background-position: center;
 padding: 10px 8%; /*10px from top and bottom, 8% from leeft and right**/
 position: relative;
}
/*not responding*/
.language-button{
  display: inline-flex;
  align-items: center;
  background: transparent;
  border: 1px solid white;
  padding:7px 10px;
}
.language-button img {
  width:10px;
  margin-left: 10px;
}
nav{
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding: 10px 0%;
}
.logo{
 width: 150px;
cursor:pointer;
}
nav button{
  border: 0;
  outline: 0;
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 7px 20px;
  margin-left: 10px;
  border-radius: 4px;
  cursor: pointer;
}
.head-content{
  position:absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-top: 100px;
}
.head-content h1  {
  font-size: 60px;
  line-height:70px;
  font-weight: 600;
  max-width: 650px;
}
.head-content h3{
  font-weight: 400;
  margin-bottom:20px;
}
.email-signup{
  background: white;
  border-radius: 4px;
  align-items: center;
  margin-top: 30px;
  display: flex;
  overflow: hidden;
}
.email-signup input{
  flex: 1;
  border: 0;
  outline: 0;
  margin-left: 20px;
}
.email-signup button{
  background:red ;
  border: 0;
  outline: 0;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding:15px 30px;
}
/*----------------first box------------------*/
  .first-section{
    padding: 50px 12%;
    font-size: 22px;
    border-color: bisque;
    border-bottom-width: 1rem;
  }
  .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50x 0;
  }
  .text-col{
    flex-basis:50%;
    margin-bottom: 20px;
  }
  .first-video{
    flex-basis:50%;
    margin-bottom: 20px;
    align-items:center;
  }
  .first-video video{
    display:flex;
    width: 90%;
    margin: auto;
  }
  .first-section h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom:20px ;
  }

  /*this is second box*/

  .second-section{
    padding: 50px 12%;
    font-size: 22px;
  }
  .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50x 0;
  }
  .text-col{
    flex-basis:50%;
    margin-bottom: 20px;
  }
  .second-img{
    flex-basis:50%;
    margin-bottom: 20px;
  }
  .second-img img{
    display:flex;
    width: 90%;
    margin: auto;
  }
  .second-section h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom:20px ;
  }


  /*this is third box*/

  .third-section{
    padding: 50px 12%;
    font-size: 22px;
  }
  .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50x 0;
  }
  .text-col{
    flex-basis:50%;
    margin-bottom: 20px;
  }
  .third-img{
    flex-basis:50%;
    margin-bottom: 20px;
  }
  .third-img img{
    display:flex;
    width: 90%;
    margin: auto;
  }
  .third-section h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom:20px ;
  }

   /*this is fourth box*/

   .fourth-section{
    padding: 50px 12%;
    font-size: 22px;
  }
  .row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50x 0;
  }
  .text-col{
    flex-basis:50%;
    margin-bottom: 20px;
  }
  .fourth-img{
    flex-basis:50%;
    margin-bottom: 20px;
  }
  .fourth-img img{
    display:flex;
    width: 90%;
    margin: auto;
  }
  .fourth-section h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom:20px ;
  }

  /*-------------faq--------------*/
/*
.faq{
  padding:10px 12%;
  text-align: center;
  font-size: 18px;
  max-width: 800px;
	margin: 0 auto;
}
.faq h2{
  font-weight: 500;
  font-size: 50px;
}
.accordion{
  margin: 60px auto;
  width: 100%;
  max-width: 750px;
}

.accordion li{
  list-style: none;
  width: 100%;
  padding: 5px;
}
.accordion li label{
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 18px;
  font-weight:500;
  background: rgb(71, 69, 69);
  margin-bottom: 2px;
  cursor: pointer;
  position: relative;
}

.faq li .question {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.faq li .content{
  padding:20px;
  font-size: 16px;
  line-height: 1.5;
  display: none;
}
*/

/*----second try-----*/

.faq h2{
  font-weight: 500;
  font-size: 50px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;
  background-color: rgb(21, 21, 21);
  box-shadow: 0 0 10px rgba(77, 74, 74, 0.2);
}

.faq {
  margin: 0;
  padding: 0;
  list-style: none;
}

.faq li {
  margin-bottom: 20px;
  border: 1px solid rgb(68, 64, 64);
  background-color: rgb(49, 47, 47);
  box-shadow: 0 0 10px rgba(54, 52, 52, 0.1);
  overflow: hidden;
}

.faq li:hover {
  box-shadow: 0 0 10px rgba(124, 122, 122, 0.2);
}

.faq li .question {
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.faq li .answer {
  padding: 20px;
  font-size: 16px;
  line-height: 1.5;
  display: none;
}

.faq input[type="radio"] {
  display: none;
}

.faq input[type="radio"] + .question {
  background-color: rgb(49, 47, 47);
}

.faq input[type="radio"]:checked + .question {
  background-color: rgb(53, 51, 51);
}

.faq input[type="radio"]:checked + .question + .answer {
  display: block;
}

/*----- footer -------*/

.footer{
  padding-top: 5%;
  color: #777;
}

.footer h2 {
  color: white;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .col{
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.footer .col a{
  display: block;
  text-decoration: none;
  color: #777;
  font-size:14px;
  margin-bottom: 10px;

}

.footer .col :hover{
  background-color: white;
}

.footer .row{
  align-items: flex-start;
  padding:10px 0;
}
.footer .language-button{
  color:white;
}